<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="color: black; background-color: silver;">
<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      Missing Car Brand Notification
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        A seller has informed about a missing car brand: {{selectedBrand}} , model: {{selectedModel}}
      </p>
    </td>
  </tr>
</table>
</body>
</html>